:root{
    --azul:rgb(182, 225, 250);
    --negro:rgb(0, 0, 0);
    --rojo: rgb(255, 0, 0);
    --blanco: rgb(255, 255, 255);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1rem equivaldria a 10px*/
}

header{
    font-family: 'Pacifico', cursive;
    /*overflow: hidden;*/
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 3.8rem;
}

h3{
    font-size: 2.8rem;
}

h1,h2,h3{
    text-align: center;
}

.wrapper{
    background-color: var(--azul);
    display: flex;
}

.wrapper img{
    width: 10rem;
}

.contenedor{
    max-width: 100rem;
    margin: auto;
}

.sombra{
    -webkit-box-shadow: 2px 7px 33px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 33px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 33px -2px rgba(0,0,0,0.75);
    /* margin-top: 3rem; */
    padding: 3rem;
    border-radius: 3rem;
}

.menu_principal{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--azul);
}

.menu_li_a{
    text-decoration: none;
    color: var(--negro);
    background-image: linear-gradient(red, rgb(255, 0, 0));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .5s;
    padding: 1rem;
    
}

.menu_li_a:hover, .menu_li_a:focus{
    background-size: 100% 3px;
}

.hero{
    background-image: url(../img/mantenimiento.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contenedor_hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor_hero h2, .contenedor_hero p{
    color: var(--blanco);
}

.ubicacion{
    display: flex;
    align-items: center;
}

.boton{
    background-color: var(--azul);
    color: var(--negro);
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
    margin-top: 1.2rem;
}

.servicios section{
    margin: 0rem 1rem;
}

@media (min-width: 760px){
    .servicios{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 760px){
    .boton{
        width:auto;
    }
}

@media (min-width: 760px){
    .menu_principal{
        flex-direction:row;
        justify-content: space-between;
    }
}