*{
    margin: 0;
    padding: 0;
}
header{
    list-style: none;
    margin:0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.3em ;
    background: rgb(134, 134, 134);
    overflow: hidden;
}

.wrapper{
    margin: auto;
}

.menu2{
    text-align:center;
    /*border-bottom: rgb(122, 14, 14) 5px solid;*/
    position: relative;
    float: center;
    margin: auto;
}

.logo img{
    width: 6em;
    float: left;
}

ul{
    list-style: none;
    display: inline-block;
    padding: 1em;
}


.menu_li_a{
    text-decoration: none;
    color: rgb(10, 7, 7);
    background-image: linear-gradient(red, rgb(255, 0, 0));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .5s;
}

.menu_li_a:hover, .menu_li_a:focus{
    background-size: 100% 3px;

}